<div class="container">
    <h1 class="text-center" >Top Inspirational quotes</h1>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <app-quotes-add (emitQuote)="addNewQuote($event)"></app-quotes-add>
        </div>
      </div>
      <div class="col-sm-12 p-5">
        <div class="row">
          <div class="col-sm-6 p-4" *ngFor="let quote of quotes; let i=index">
            <div class="card">
              <div class="card-body">
                <p   appHighlighter *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
                <div class="blockquote">
                  <p *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
                  <div class="blockquote-footer">
{{quote.author}}
                  </div>
                </div>
                <app-quotes-details [quote]="quote"></app-quotes-details>
                <div class="row">
                  <div class="col-sm-4">

                    <button class="btn btn-info" (click)="upvote(i)">upvote</button>

                  </div>

                  <div class="col-sm-4">
                    <button class="btn btn-secondary" (click)="downvote(i)">downvote</button>

                  </div>
                  <div class="col-sm-4">
                    <button class="btn btn-danger" (click)="delQuote(i)">Delete</button>

                  </div>
                </div>



              </div>
            </div>

          </div>
        </div>
      </div>



    </div>
  </div>



